body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.TestStyle {
    margin-left: 20px;
    margin-top: 20px;
}

.labelOn {
    background-color: aqua;
}

.treeStyle {
    background-color: khaki;
}